<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <application android:allowBackup="false" android:icon="@drawable/ic_launcher" android:label="HORI ANT + HB TEST" android:roundIcon="@drawable/ic_launcher" android:supportsRtl="true" android:theme="@style/Theme.KarooMagicshineControls">
        <activity android:name=".AntDirectTestActivity" android:exported="true" android:theme="@style/Theme.KarooMagicshineControls">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <service android:name=".extension.MagicshineControlService" android:enabled="true" android:exported="false" android:foregroundServiceType="connectedDevice" />
        <service android:name=".extension.MagicshineKarooExtension" android:enabled="true" android:exported="true">
            <intent-filter><action android:name="io.hammerhead.karooext.KAROO_EXTENSION" /></intent-filter>
            <meta-data android:name="io.hammerhead.karooext.EXTENSION_INFO" android:resource="@xml/extension_info" />
        </service>
        <receiver android:name=".extension.LightActionReceiver" android:exported="false" />
    </application>
</manifest>